*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* HEADER  */
header > .bg_darkblue{
    height: 75px;
    display: flex;
    align-items: center;
    padding-top: 10px;
}

header .border_white{
    padding: 5px 10px;
    border-radius: 20%;
} 
/* MAIN   */
.img_users{
    width: 200px;
    height: auto;
}
form input{
    width: 100%;
    margin: 10px 0;
}
form textarea{
    width: 100%;
}
/* FOOTER  */
footer .bg_darkblue .content{
    height: 50px;
}
footer a{
    text-decoration: none;
    color: #1abc9c;
}
.icons i{
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
    margin: 5px;
}
footer .bg_darkblue i{
    border: 2px solid white;
    font-size: 7px;
    border-radius: 50%;
    padding: 1px;
    vertical-align: middle;
}
/* COMMON  */
.content{
    height: 300px;
    background-color: blue;
    border: 1px solid black;
}
.star{
    margin: 20px auto;
    text-align: center;
    font-size: 30px;
    max-width: 600px;
    position: relative;
}
.star.white:before {
    content: "";
    display: block;
    width: 100px;
    height: 5px;
    background: #ffffff;
    left: 135px;
    top: 50%;
    position: absolute;
}
.star.white:after {
    content: "";
    display: block;
    width: 100px;
    height: 5px;
    background: #ffffff;
    right: 135px;
    top: 50%;
    position: absolute;
}
.star.darkblue:before {
    content: "";
    display: block;
    width: 100px;
    height: 5px;
    background: #2c3e50;
    left: 135px;
    top: 50%;
    position: absolute;
}
.star.darkblue:after {
    content: "";
    display: block;
    width: 100px;
    height: 5px;
    background: #2c3e50;
    right: 135px;
    top: 50%;
    position: absolute;
}

.border_white{
    border: 1px solid white;
}
/* COLORS  */
.bg_darkblue{
    background-color: #2c3e50;
}
.bg_green{
    background-color: #1abc9c;
}
.bg_darkgrey{
    background-color: #3a546d;
}
.darkgrey{
    color: #3a546d;
}